.main {	
	width: 1000px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  
}

.question {
	background:#FFFFFF;
	height:120px;
	
}

.question_title_box{
	margin-top:10px;
}

.questions_title {
	margin: 12px 0 6px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #1e1e1e;
}

.tag {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #3e7ac2;
    vertical-align: middle;
    padding: 0 12px;
    border-radius: 100px;
    background-color: #eef4fa;
}