

.AnswerAdd{
	margin: 40px 0;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}

.AnswerAdd-header{
	position: relative;
	padding: 16px 20px;
}

.AvatarWrapper{
	float: left;
	padding-right:14px;
}

.AvatarWrapper img{
	width: 38px;
	height: 38px;
	vertical-align: top;
}

.Anonymous{
	position: absolute;
	right:16px;
	top: 20px;
}

.AuthorInfo-title{
	font-size: 15px;
	font-weight: 600;
	line-height: 1.1;
}

.AuthorInfo-badge{
	margin-top: 6px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.2;
    text-overflow: ellipsis;
}
	
.tags{
    margin-right: 6px;
    color: #555;
}

.icon{
	margin-right:4px;
	vertical-align:text-bottom;
	fill:currentColor;
	color:#8590a6;
}

button{
	display:inline-block;
	color: #8590a6;
	background-color:transparent;
	border:none;
	outline:none;
	cursor:pointer;
}

.tools{
    border-top: 1px solid #e7eaf1;
    border-bottom: 1px solid #e7eaf1;
    padding: 6px 12px;
    background: #f7f8fa;
    line-height: 24px;
    text-align: left;
}

.RichText{
	width: 90%;
	margin:0 auto;
}

.textarea{
	width: 100%;
    line-height: 24px;
    height: 100px;
    border:none;
    font-size:15px;
}

.AnswerForm-footer{
	text-align: right;
	padding: 12px 24px;
}

input[type="submit"]{
    background-color: #0f88eb;
    border: 1px solid #0f88eb;
	color: #fff;
	display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}